$base-blue: #6CCFF6;
$base-pink: #F2D5F8;
$base-accent: #EFEFD0;
$base-dark: #001011;
$base-grey: #757780;


//body, html, main {
//  background: linear-gradient(
//                  to bottom,
//                  transperent,
//                  $base-accent,
//  );
//}
